<mat-card>
  <mat-card-title> Blog: How can I pass promotion ?</mat-card-title>
  <br />

  <div style="display: flex; justify-content: space-between">
    <mat-card-subtitle> Author: Son Phan </mat-card-subtitle>
    <button
      *ngIf="localStorageToken"
      mat-raised-button
      color="accent"
      (click)="navigateSSO()"
    >
      Save article
    </button>
  </div>

  <hr />
  <br />
  <h1>
    <b>How To Get Promoted at Work: 9 Effective Strategies </b>
  </h1>
  <p>
    <i
      >The Indeed Editorial Team comprises a diverse and talented team of
      writers, researchers and subject matter experts equipped with Indeed's
      data and insights to deliver useful tips to help guide your career
      journey.</i
    >
  </p>

  <h2>
    <b>1. Give more value </b>
  </h2>

  <p>
    If you want to earn a promotion, you will need to think about what your
    company wants from you. Every employer wants their employees to contribute
    to the value of the company, so making a conscious effort to add value is
    one of the best ways to get promoted at work. You can increase your value by
    doing the following: Improve your skills to deliver increasingly better
    results for your company. Expose yourself to a broader range of company
    activities that enable you to broaden your knowledge, skills and experience
    and find new opportunities for career growth.
  </p>

  <h2><b>2. Pay attention to people who have been promoted </b></h2>

  <p>
    To identify ways you might get promoted, take a closer look at some of the
    people in your company who have received a promotion in recent years.
    Situational awareness is one of the keys to claiming your promotion. Look
    for common personality traits, achievements and habits among those who have
    successfully been promoted.
  </p>
  <p>
    These observations may give you a better understanding of what you need to
    do to get a promotion yourself. For example, some employers tend to promote
    employees who demonstrate good social skills and attend all company parties.
    If this is the case in your company, you will need to make an effort to
    socialize more and participate in more company events. Some employers want
    their employees to be team players. In such a situation, showing a
    willingness to help with team projects can help you build rapport with your
    supervisor or manager.
  </p>
</mat-card>
